version: '3.8'

services:
  mongodb:
    image: mongo:7.0
    container_name: mongodb
    restart: unless-stopped
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: musicdb
    volumes:
      - mongodb_data:/data/db
      - ./mongo-seed:/docker-entrypoint-initdb.d
    networks:
      - music-network

volumes:
  mongodb_data:
    driver: local

networks:
  music-network:
    driver: bridge
